<form [formGroup]="searchForm" (ngSubmit)="getData()">
    <div class="d-flex">
        <input class="form-control me-3" type="text" formControlName="name" placeholder="Introduce el nombre a buscar">
        <button [disabled]="!searchForm.valid" type ="submit" class="btn btn-danger"> 
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
       
    </div>
    <p *ngIf="searchForm.get('name')?.touched && searchForm.get('name')?.hasError('minlength')" class="text-danger"> Obligatorio escribir un nombre con más de 4 letras</p>
</form>
